Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
plugin-debezium/src/test/resources/application-test.yml
certs/
plugin-debezium-postgres/src/test/resources/ssl/

