version: "3.6"

services:
  mysql:
    image: mysql:8.0
    command: --local-infile
    environment:
      MYSQL_ROOT_PASSWORD: mysql_passwd
      MYSQL_DATABASE: kestra
    ports:
      - "63306:3306"
    volumes:
      - ${PWD}/docker/mysql/:/etc/mysql/conf.d
      - ${PWD}/data:/tmp/docker

  postgres:
    image: bitnami/postgresql:latest
    environment:
      POSTGRESQL_PASSWORD: pg_passwd
#      POSTGRESQL_ENABLE_TLS: "yes"
#      POSTGRESQL_TLS_CERT_FILE: /var/lib/postgresql/server.crt
#      POSTGRESQL_TLS_KEY_FILE: /var/lib/postgresql/server.key
#      POSTGRESQL_TLS_CA_FILE: /var/lib/postgresql/ca.crt
      POSTGRESQL_REPLICATION_MODE: master
      POSTGRESQL_REPLICATION_USER: my_repl_user
      POSTGRESQL_REPLICATION_PASSWORD: my_repl_password
      POSTGRESQL_WAL_LEVEL: logical
    ports:
      - "65432:5432"
    volumes:
      - ${PWD}/data:/tmp/docker
#      - ./certs/ca.crt:/var/lib/postgresql/ca.crt
#      - ./certs/server/server.crt:/var/lib/postgresql/server.crt
#      - ./certs/server/server.key:/var/lib/postgresql/server.key
#      - ./certs/client/:/client

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    ports:
      - "61433:1433"
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: Sqls3rv3r_Pa55word!

  mongodb:
    build:
      context: ./docker/mongo/
      dockerfile: Dockerfile
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo_user
      MONGO_INITDB_ROOT_PASSWORD: mongo_passwd
      MONGO_INITDB_DATABASE: kestra
    ports:
      - "27017:27017"
    healthcheck:
      test: |
        test $$(mongosh --quiet -u mongo_user -p mongo_passwd --eval "try { rs.initiate({ _id: 'rs0', members: [{ _id: 0, host: 'localhost:27017' }] }).ok } catch (_) { rs.status().ok }") -eq 1
      interval: 10s
      start_period: 30s

#  db2:
#    build:
#      context: ./docker/db2/
#      dockerfile: Dockerfile
#    ports:
#      - "5023:50000"
#    privileged: true
#    env_file:
#      - environment_db2
#    healthcheck:
#      test: ["CMD-SHELL", "su - db2inst1",  "db2 connect to sample"]
#      interval: 15s
#      retries: 7
#      timeout: 240s
#      start_period: 240s
