[server]
server-id                    = 223344
log_bin                      = mysql-bin
binlog_format                = ROW
binlog_row_image             = FULL
binlog_expire_logs_seconds   = 864000
gtid_mode                    = ON
enforce_gtid_consistency     = ON
binlog_rows_query_log_events = ON

[mysqld]
skip_ssl
default_authentication_plugin = mysql_native_password
require_secure_transport      = OFF
